@media (max-width: 780px) {
  /* *********************** Main *********************** */
  header ul {
    height: 80px;
  }

  main h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  main p {
    margin-top: 30px;
    font-size: 1rem;
    color: var(--c5);
  }

  .main-infos {
    margin: 0 auto;
    padding: 30px;
    max-width: 300px;
    animation: fadeIn linear 0.05s;
  }

  .main-infos h1::before {
    content: "";
    background-image: url(assets/detalhe_mobile.svg);
    margin-left: -20px;
    margin-top: -15px;
  }

  header ul {
    justify-content: center;
    padding-right: 0px;
    flex-wrap: wrap;
    gap: 20px;
  }

  /* *********************** Section Experiência *********************** */

  .experiencia {
    margin: 40px auto 0 auto;
    max-width: 300px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    height: 1200px;
    gap: 30px;
    position: relative;
  }

  .experiencia h1 {
    font-size: 3rem;
    color: var(--c3);
  }

  .container_exp p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    max-width: 300px;
    margin-bottom: 30px;
  }

  .retangulo_exp {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 20px;
    box-sizing: border-box;
    height: 280px;
    max-width: 300px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--c1);
  }

  .retangulo_exp p {
    font-size: 14px;
    line-height: 20px;
    max-width: 250px;
    margin-top: 10px;
  }

  .ano_bikcraft {
    display: none;
  }

  .ano_surfbot {
    display: none;
  }

  .ano_brafe {
    display: none;
  }

  /* *********************** Section Formação *********************** */

  .formacao {
    max-width: 100%;
    height: 1550px;
  }

  .container_formacao {
    margin: 0 auto;
    max-width: 300px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    height: 700px;
    gap: 30px;
    position: relative;
  }

  .formacao h1 {
    font-size: 3rem;
    word-wrap: break-word;
    color: var(--c7);
    margin-top: 60px;
  }

  .container_form {
    margin-top: 20px;
    max-width: 300px;
    box-sizing: content-box;
  }

  .container_form p {
    color: var(--c4);
    font-size: 1.2rem;
    line-height: 2rem;
    max-width: 300px;
    margin-bottom: 14px;
  }

  .container_flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
  }

  .retangulo_form {
    width: 300px;
    height: 170px;
    background-color: var(--c7);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
  }

  .cursos {
    margin-top: 60px;
    margin-left: 40px;
  }

  .cursos_flex {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    gap: 0 10px;
  }

  .idiomas {
    margin-top: 60px;
    margin-left: 40px;
  }

  /* *********************** Footer *********************** */

  footer {
    margin-top: 5px;
    max-width: 100%;
    height: 500px;
    background-color: var(--c7);
    position: relative;
  }

  .container_footer {
    margin: 0 auto;
    max-width: 350px;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: 40px;
    padding-top: 60px;
  }

  .container_footer p {
    color: var(--c4);
    font-size: 1rem;
    line-height: 2rem;
  }

  .container_footer h3 {
    color: var(--c1);
    font-size: 1.55rem;
    margin-bottom: 30px;
    text-align: right;
  }
}
