@media (max-width: 1140px) {
  /* *********************** Main *********************** */
  main {
    margin: 0 auto;
    align-items: center;
  }

  header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-right: 20px;
    height: 140px;
    gap: 40px;
  }

  main img {
    display: none;
  }

  .main-infos {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 505px;
    animation: fadeIn linear 0.05s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5ss;
    -ms-animation: fadeIn linear 0.5s;
  }

  .main-infos h1::before {
    content: "";
    background-image: url(assets/detalhe.svg);
    background-repeat: no-repeat;
    width: 140px;
    height: 120px;
    position: absolute;
    z-index: -1;
    margin-left: -40px;
    margin-top: -30px;
  }

  /* *********************** Section Experiência *********************** */

  .experiencia {
    margin: 120px auto 0 auto;
    max-width: 500px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    height: 1000px;
    gap: 40px;
    position: relative;
  }

  .experiencia h1 {
    font-size: 4rem;
    color: var(--c3);
  }

  .container_exp p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    max-width: 550px;
    margin-bottom: 60px;
  }

  .retangulo_exp {
    display: flex;
    gap: 50px;
    padding: 20px;
    box-sizing: content-box;
    height: 180px;
    max-width: 640px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--c1);
  }

  .ano_bikcraft {
    position: absolute;
    top: 287px;
    left: -80px;
    color: var(--c5);
  }

  .ano_surfbot {
    position: absolute;
    top: 530px;
    left: -108px;
    color: var(--c5);
  }

  .ano_brafe {
    position: absolute;
    top: 765px;
    left: -80px;
    color: var(--c5);
  }

  /* *********************** Section Formação *********************** */

  .formacao {
    max-width: 100%;
    margin-top: 30px;
    height: 1090px;
    background-color: var(--c6);
  }

  .container_formacao {
    margin: 0 auto;
    max-width: 500px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    height: 700px;
    gap: 30px;
    position: relative;
  }

  .formacao h1 {
    font-size: 4rem;
    word-wrap: break-word;
    color: var(--c7);
    margin-top: 100px;
  }

  .container_form {
    margin-top: 0px;
  }

  .container_form p {
    color: var(--c4);
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 550px;
    margin-bottom: 60px;
  }

  .retangulo_form {
    width: 188px;
    height: 190px;
    background-color: var(--c7);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
  }

  .retangulo_form p {
    font-size: 0.9rem;
    margin: 0;
  }

  .cursos_flex p {
    font-size: 1.2rem;
    padding: 20px 0;
    margin: 0;
  }

  .idiomas p {
    font-size: 1.2rem;
    margin: 30px 0 20px 0;
    color: var(--c1);
  }

  /* *********************** Footer *********************** */

  footer {
    margin-top: 5px;
    max-width: 100%;
    height: 550px;
    background-color: var(--c7);
    position: relative;
  }

  .container_footer {
    margin: 0 auto;
    max-width: 1000px;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: 70px;
    padding-top: 100px;
  }

  .container_footer p {
    text-align: center;
    color: var(--c4);
    max-width: 80%;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .container_footer h3 {
    color: var(--c1);
    font-size: 1.55rem;
    margin-bottom: 30px;
    text-align: right;
  }

  .container_footer::before {
    display: none;
  }
}
