@import url("https://use.typekit.net/ngo6kcq.css");

:root {
  --main_font_regular: fira-sans, sans-serif;
  --c1: #f5f5f5;
  --c2: #f0f0f0;
  --c3: #e0e0e0;
  --c4: #a3a3a3;
  --c5: #525252;
  --c6: #141414;
  --c7: #000000;
}

body,
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-family: var(--main_font_regular);
}

/* *********************** Menu *********************** */

header {
  margin: 0 auto;
  max-width: 1160px;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 20px;
  height: 140px;
  align-content: center;
  gap: 40px;
}

header a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--c7);
}

header a:hover {
  text-decoration: none;
  color: var(--c4);
  transition: 0.3s;
}

/* *********************** Main *********************** */

main {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 140px;
  position: relative;
}

main img {
  max-width: 360px;
  animation: fadeIn linear 0.05s;
  -webkit-animation: fadeIn linear 0.2s;
  -moz-animation: fadeIn linear 0.5s;
  -o-animation: fadeIn linear 0.5ss;
  -ms-animation: fadeIn linear 0.5s;
}

main h1 {
  font-size: 4.5rem;
}

main p {
  margin-top: 30px;
  font-size: 1.5rem;
  color: var(--c5);
}
.main-infos {
  max-width: 505px;
  animation: fadeIn linear 0.05s;
  -webkit-animation: fadeIn linear 0.5s;
  -moz-animation: fadeIn linear 0.5s;
  -o-animation: fadeIn linear 0.5ss;
  -ms-animation: fadeIn linear 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.detalhe {
  position: absolute;
  top: 88px;
  left: 455px;
  z-index: -1;
}
