@import url("https://use.typekit.net/ngo6kcq.css");

:root {
  --main_font_regular: fira-sans, sans-serif;
  --c1: #f5f5f5;
  --c2: #f0f0f0;
  --c3: #e0e0e0;
  --c4: #a3a3a3;
  --c5: #525252;
  --c6: #141414;
  --c7: #000000;
}

body,
ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  font-family: var(--main_font_regular);
}

/* *********************** Menu *********************** */

header {
  margin: 0 auto;
  max-width: 1160px;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 20px;
  height: 140px;
  align-content: center;
  gap: 40px;
}

header a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--c7);
}

header a:hover {
  text-decoration: none;
  color: var(--c4);
  transition: 0.3s;
}

/* *********************** Main *********************** */

main {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 140px;
  position: relative;
}

main img {
  max-width: 360px;
  animation: fadeIn linear 0.05s;
  -webkit-animation: fadeIn linear 0.2s;
  -moz-animation: fadeIn linear 0.5s;
  -o-animation: fadeIn linear 0.5ss;
  -ms-animation: fadeIn linear 0.5s;
}

main h1 {
  font-size: 4.5rem;
  line-height: 5.3rem;
}

main p {
  margin-top: 30px;
  font-size: 1.5rem;
  color: var(--c5);
}

.detalhe {
  position: absolute;
  top: 75px;
  left: 455px;
  z-index: -1;
}

.main-infos {
  max-width: 505px;
  animation: fadeIn linear 0.05s;
  -webkit-animation: fadeIn linear 0.5s;
  -moz-animation: fadeIn linear 0.5s;
  -o-animation: fadeIn linear 0.5ss;
  -ms-animation: fadeIn linear 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* *********************** Section Experiência *********************** */

.experiencia {
  margin: 120px auto 0 auto;
  max-width: 1160px;
  display: grid;
  grid-template-columns: 358px auto;
  height: 700px;
  gap: 140px;
  position: relative;
}

.experiencia h1 {
  font-size: 9rem;
  word-wrap: break-word;
  color: var(--c3);
}

.container_exp p {
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 524px;
  margin-bottom: 60px;
}

.retangulo_exp {
  display: flex;
  gap: 50px;
  padding: 20px;
  box-sizing: border-box;
  height: 140px;
  max-width: 640px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: var(--c1);
}

.retangulo_exp::before {
  content: "";

  background-image: url(assets/Rectangle.svg);
  background-repeat: no-repeat;
  position: absolute;
  margin-left: -25px;
  margin-top: -1px;
  width: 4px;
  height: 20px;
}

.ano_bikcraft {
  position: absolute;
  top: 202px;
  left: 430px;
  color: var(--c5);
}

.ano_surfbot {
  position: absolute;
  top: 358px;
  left: 410px;
  color: var(--c5);
}

.ano_brafe {
  position: absolute;
  top: 520px;
  left: 430px;
  color: var(--c5);
}

.retangulo_exp p {
  font-size: 14px;
  line-height: 20px;
  width: 325px;
  margin-top: 10px;
}

.retangulo_exp a {
  padding: 6px 10px;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  color: var(--c7);
  margin-top: 10px;
  display: inline-block;
}

.retangulo_exp a:hover {
  padding: 6px 10px;
  border-radius: 5px;
  background-color: var(--c7);
  text-decoration: none;
  color: var(--c1);
  margin-top: 10px;
  display: inline-block;
  transition: 0.4s;
}

/* *********************** Section Formação *********************** */

.formacao {
  max-width: 100%;
  height: 1030px;
  background-color: var(--c6);
}

.container_formacao {
  margin: 0 auto;
  max-width: 1160px;
  display: grid;
  grid-template-columns: 370px auto;
  height: 700px;
  gap: 140px;
  position: relative;
}

.formacao h1 {
  font-size: 9rem;
  word-wrap: break-word;
  color: var(--c7);
  margin-top: 120px;
}

.container_form {
  margin-top: 120px;
}

.container_form p {
  color: var(--c4);
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 524px;
  margin-bottom: 60px;
}

.container_form p strong {
  color: var(--c1);
}

.retangulo_form {
  width: 188px;
  height: 190px;
  background-color: var(--c7);
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}

.container_flex {
  display: flex;
  gap: 30px;
}

.retangulo_form::before {
  content: "";

  background-image: url(assets/Rectangle.svg);
  background-repeat: no-repeat;
  position: absolute;
  margin-left: -24px;
  margin-top: 45px;
  width: 4px;
  height: 20px;
}

.retangulo_form p {
  font-size: 0.9rem;
  margin: 0;
}

.retangulo_form h4 {
  color: white;
  line-height: 1.5rem;
  margin: 10px 0 30px 0;

  font-size: 1.2rem;
}

/* *********************** Cursos*********************** */

.cursos {
  margin-top: 60px;
}

.cursos h3 {
  color: var(--c4);
  font-size: 0.8rem;
}

.cursos_flex {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 6fr 1fr;
  gap: 0 180px;
}

.cursos_flex p {
  font-size: 1.2rem;
  padding: 20px 0;
  margin: 0;
}

.cursos_flex p:nth-child(odd) {
  color: var(--c3);
}

/* *********************** Idiomas *********************** */

.idiomas {
  margin-top: 60px;
}

.cursos h3::before {
  content: " ";
  background-image: url(assets/cursos.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 30px;
  height: 25px;
  margin-top: -7px;
  margin-left: -35px;
}

.idiomas h3 {
  color: var(--c4);
  font-size: 0.8rem;
}

.idiomas p {
  font-size: 1.2rem;
  margin: 30px 0 20px 0;
  color: var(--c1);
}

.idiomas span {
  color: var(--c4);
}

.idiomas h3::before {
  content: " ";
  background-image: url(assets/idiomas.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 30px;
  height: 25px;
  margin-top: -7px;
  margin-left: -35px;
}
